@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bongkar';
  src: url('/fonts/Bongkar.otf') format('opentype');
}

@font-face {
  font-family: 'ToysToss';
  src: url('/fonts/Toys-Toss.otf') format('opentype');
}

@font-face {
  font-family: 'Pulang';
  src: url('/fonts/Pulang.otf') format('opentype');
}

@font-face {
  font-family: 'CornerCafe';
  src: url('/fonts/Corner Cafe.otf') format('opentype');
}